@model GoodShoe.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        
        <dt class = "col-sm-2">
            Available Sizes
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableSizes)
        </dd>
        
        <dt class = "col-sm-2">
            Total Stock
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockCount)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
    
    @if (Model.ProductVariants.Any())
    {
        <h5>Stock by Size:</h5>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Size</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var variant in Model.ProductVariants.OrderBy(pv => pv.Size))
                {
                    <tr>
                        <td>US @variant.Size</td>
                        <td>@variant.StockCount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>