<!-- Product Management -->
@model List<Product>
@{
    ViewData["Title"] = "Product Management";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/admin.css" />

<div class="admin-container">
    <!-- Header -->
    <div class="admin-header">
        <h1 class="admin-title">
            <i class="fas fa-box"></i>
            Product List</h1>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i>
        </a>
    </div>
    <!-- Search bar, add new item -->
    <div class="admin-controls">
        @* Todo: dynamic search *@
        <div class="search-container">
            <input type="text" id="prodSearch" placeholder="Search by name ..." class="search-input">
            <i class="fas fa-search search-icon"></i>
        </div>
        <div class="button-container">
            <a asp-controller="Admin" asp-action="Create" class="btn btn-primary">Add New Product</a>
        </div>
    </div>
    <!-- Table of products -->
    <div class="table-container">
        <table class="table table-bordered table-striped admin-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.AvailableSizes</td>
                        <td>@product.StockCount</td>
                        <td>
                            <a asp-controller="Admin" asp-action="Edit"
                               asp-route-id="@product.Id"
                               asp-route-slug="@product.Name"
                               class="btn btn-primary">Edit</a>
                            <a asp-controller="Admin" asp-action="Delete"
                               asp-route-id="@product.Id"
                               asp-route-slug="@product.Name"
                               class="btn btn-secondary">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>