<!-- Product Management -->
@model List<Product>
@{
    ViewData["Title"] = "Product Management";
    Layout = "_Layout";
}

@section Scripts {
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
}

<div class="container main-context">
    <!-- Header -->
    <div class="admin-header">
        <h1 class="admin-title">
            <i class="fas fa-box"></i>
            Product List</h1>
        <div class="header-actions back-button-container mb-4">
            <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i>
            </a>
        </div>
    </div>
    <!-- Search bar, add new item -->
    <div class="admin-controls">
        <div class="search-container">
            <input type="text" id="prodSearch" placeholder="Search by name ..." class="search-input">
            <i class="fas fa-search search-icon"></i>
        </div>
        <div class="button-container">
            <a asp-controller="Admin" asp-action="Create" class="btn btn-primary">Add New Product</a>
        </div>
    </div>
    <!-- Table of products -->
    <div class="table-container">
        <table class="table table-bordered table-striped admin-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.AvailableSizes</td>
                        <td>@product.Price</td>
                        <td>@product.StockCount</td>
                        <td>
                            <a asp-controller="Admin" asp-action="Edit"
                               asp-route-id="@product.Id"
                               asp-route-slug="@product.Name"
                               class="btn btn-primary">Edit</a>
                            <a asp-controller="Admin" asp-action="Delete"
                               asp-route-id="@product.Id"
                               asp-route-slug="@product.Name"
                               class="btn btn-secondary">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>